.music-style-btn {
    white-space: nowrap;
    padding: 0;
    color: rgb(190, 190, 190);
    font-weight: bold;
    border: none;
    background: none;
    outline: 0 !important;
    font-size: 1.3rem;
    text-decoration: none;    
}

.music-style-btn:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;  
}

.song {
    padding: 0; 
    border: none;
    background: none;
    outline: 0 !important;
    transition: 0.2s;
}

.song:hover {
    transform: scale(1.015);
}

.selectedOption span{
    color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
    text-decoration: none;     
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}