body {
    background-color: rgb(15,15,15);
}

.music-style-btn {
    white-space: nowrap;
    padding: 0;
    color: #ff7e00;
    font-weight: bold;
    border: none;
    background: none;
    outline: 0 !important;
}

.music-style-btn:hover {
    color: #cc0066;
    transform: scale(1.05);
}

.song {
    padding: 0; 
    border: none;
    background: none;
    outline: 0 !important;
}

.selectedOption span{
    color: #ff0080;
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
}
  
li {
    float: left;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}