body {
    background-color: rgb(15,15,15);
}

.music-style-btn {
    white-space: nowrap;
    padding: 0;
    color: #9d0b28;
    font-weight: bold;
    border: none;
    background: none;
    outline: 0 !important;
    text-decoration: none;    
}

.music-style-btn:hover {
    color: rgba(236, 97, 95, 0.7);
    transform: scale(1.01);
    text-decoration: none;    
}

.song {
    padding: 0; 
    border: none;
    background: none;
    outline: 0 !important;
}

.selectedOption span{
    color: #ec625f;
    transform: scale(1.05);
    text-decoration: none;     
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}