body {
    background-color: rgb(15,15,15);
}

.playlistButtons {
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 6vh;
}

.playlistButtons:hover {
    background-color: rgba(255, 255, 255, 0.9)
}

div::-webkit-scrollbar {
    width: 8px;
}

/* Track */
div::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); 
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: rgba(149, 7, 64, 0.7); 
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background: #950740; 
}