.player {
    height: 10vh;
    background-color: rgba(5, 5, 5, 0.96);
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    padding-right: 20%;
}